[Unit]
Description=Oruga Robot
After=docker.service
Requires=docker.service

[Service]
Type=exec
Restart=no
ExecStartPre=-/usr/bin/docker rm oruga_robot
ExecStart=docker run --init \
  --user ubuntu --network=host --ipc=host \
  -v /home/odroid/oruga_ws:/oruga_ws \
  -e ROS_DOMAIN_ID=100 \
  --name oruga_robot --rm \
  oruga_ws:jazzy
ExecStop=/usr/bin/docker stop oruga_robot
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
