[Unit]
Description=Zenoh Router
After=docker.service
Requires=docker.service

[Service]
Type=exec
Restart=no
Environment=RUST_LOG=zenoh=info,zenoh_transport=debug
ExecStart=/home/odroid/zenoh/target/release/zenohd -c /home/odroid/oruga_ws/zenoh_router_config.json5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
