[Unit]
Description=Zenoh Router
After=network.target
Wants=network.target

[Service]
Type=exec
Restart=no
ExecStart=/home/xopxe/sources/zenoh/target/release/zenohd -c /home/xopxe/workspace/oruga_ws/zenoh_router_config.json5
TimeoutStopSec=10

[Install]
WantedBy=multi-user.target
