<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="oruga_imu" params="use_imu use_gazebo">

    <xacro:if value="${use_imu}">

      <link name="imu_link"></link>

      <joint name="base_imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="${imu_offset_length} ${imu_offset_width} ${imu_offset_height}"
          rpy="${imu_offset_r} ${imu_offset_p} ${imu_offset_y}" />
      </joint>

      <xacro:if value="$(arg use_gazebo)">
        <gazebo reference="imu_link">
          <gravity>true</gravity>
          <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>imu_raw</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
              <topicName>imu</topicName>
              <bodyName>imu_link</bodyName>
              <updateRateHZ>10.0</updateRateHZ>
              <gaussianNoise>0.0</gaussianNoise>
              <xyzOffset>0 0 0</xyzOffset>
              <rpyOffset>0 0 0</rpyOffset>
              <frameName>imu_link</frameName>
              <initialOrientationAsReference>false</initialOrientationAsReference>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
          </sensor>
        </gazebo>
      </xacro:if>


    </xacro:if>

  </xacro:macro>
</robot>