<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="oruga_imu" params="use_imu">

    <xacro:if value="${use_imu}">

      <link name="imu_link"></link>

      <joint name="base_imu_joint" type="fixed">
        <parent link="base_link" />
        <child link="imu_link" />
        <origin xyz="${imu_offset_length} ${imu_offset_width} ${imu_offset_height}"
          rpy="${imu_offset_r} ${imu_offset_p} ${imu_offset_y}" />
      </joint>

    </xacro:if>

  </xacro:macro>
</robot>