<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="oruga_lidar" params="use_lidar">

    <xacro:if value="${use_lidar}">

      <link name="lidar_link">
        <visual>
          <geometry>
            <cylinder radius="${lidar_radius}" length="${lidar_height}" />
          </geometry>
          <origin xyz="0 0 0" rpy="0 0 0" />
          <material name="green" />
        </visual>
      </link>

      <joint name="base_lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <origin xyz="${lidar_offset_length} ${lidar_offset_width} ${lidar_offset_height}"
          rpy="0 0 0" />
      </joint>

    </xacro:if>

  </xacro:macro>
</robot>